@import 'response.css';
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root{
  --header-height: 4.5rem;

  /* colors */
  --hue: 159;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);

  /* fonts */
  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;

  --title-font: 'Poppins', sans-serif;
  --body-font: 'DM Sans', sans-serif;

  --title-font-size: 1.875rem;
  --subtitle-font-size: 1rem;
}
p {
  font-weight: 300;
  color: #111;
}
.banner {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/bg.jpg');
  background-size: cover;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5rem;
  color: white;
}
.banner .content p {
  font-size: 1rem;
  color: white;
}
.btn {
  font-size: 1em;
  color: white;
  background-color: #ff0157;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}
.btn:hover {
  letter-spacing: 4px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky {
  background-color: white;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
.logo {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}
header.sticky .logo {
  color: #111;
}
.logo span {
  color: #ff0157;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: white;
  font-size: 300;
}
header.sticky .navigation li a {
  color: #111;
}
header .navigation li a:hover {
  color: #ff0157;
}
/*About 
======================================
 */
section {
  padding: 100px;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .col50 {
  position: relative;
  width: 48%;
}
.title_text {
  color: #111;
  font-size: 2em;
  font-weight: 300;
}
.title_text span {
  color: #ff0157;
  font-weight: 700;
  font-size: 1.5em;
}
.row .col50 .img_box {
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}
.row .col50 .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Menu
===================================== */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid white;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
}
.menu .content .box .img_box {
  position: relative;
  width: 100%;
  height: 300px;
}
.menu .content .box .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu .content .box .text {
  padding: 15px 0 5px;
  display: flex;
  justify-content: center;
}
.menu .content .box .text h3 {
  font-weight: 400;
  color: #111;
}
/* Expert */
.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.expert .content .box {
  width: 250px;
  margin: 15px;
}
.expert .content .box .img_box {
  position: relative;
  width: 100%;
  height: 300px;
}
.expert .content .box .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.expert .content .box .text {
  padding: 15px 0 5px;
}
.expert .content .box .text h3 {
  font-weight: 400;
  color: #111;
}
/* Testimonials
*/
.testimonials {
  background-image: url(/img/bg2.jpg);
  background-size: cover;
}
.white .title_text,
.white p {
  color: white;
}
.testimonials .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}
.testimonials .content .box {
  width: 340px;
  margin: 20px;
  padding: 40px;
  background-color: white;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.testimonials .content .box .img_box {
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  border-radius: 50%;
  overflow: hidden;
}
.testimonials .content .box .img_box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.testimonials .content .box .text {
  text-align: center;
}
.testimonials .content .box .text p {
  color: #666;
  font-style: italic;
  font-size: 1em;
}
/* Contact
=========================================== */
.contact {
  background-image: url('/img/bg3.jpg');
  background-size: cover;
}
.contact_form {
  padding: 75px 50px;
  background-color: white;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  margin-top: 50px;
}
.contact_form h3 {
  color: #111;
  font-size: 1.2em;
  margin-bottom: 20px;
  font-weight: 500;
}
.contact_form .input_box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
.contact_form .input_box input,
.contact_form .input_box textarea {
  width: 100%;
  border: 1px solid #555;
  color: #111;
  outline: none;
  font-size: 16px;
  font-weight: 300;
  resize: none;
  padding: 10px;
}
.contact_form .input_box input[type='submit'] {
  font-size: 1em;
  color: white;
  background-color: #ff0157;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  max-width: 120px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.divider-1{
  height: 1px;
  background: linear-gradient(
      270deg,
      hsla(var(--hue),36%,57%,1) 0%,
      hsLa(var(--hue),65%,88%, 0.34)
  );
}
.divider-2 {
  height: 1px;
  background: linear-gradient(
      270deg,
      hsLa(var(--hue),65%,88%, 0.34),
      hsla(var(--hue),36%,57%,1)
  );
}

/* Footer
============================================= */
/*FOOTER########################*/
.section{
  padding: 10rem 0;
}
.container{
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
.grid{
  display: grid;
  gap: 2rem;
}
footer{
  background-color: rgba(0,0,0,0.9)
}
footer.section{
  padding: 4rem 0;
}
footer .logo{
  display: inline-block;
  margin-bottom: 1.5rem;
}
footer .brand p{
  color: var(--text-color-light);
  margin-bottom: 0.75rem;
}
footer i{
  font-size: 1.5rem;
  color: var(--text-color-light);
}
footer .social{
  grid-auto-flow: column;
  width: fit-content;
}
footer .social a{
  margin-right: 2rem;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none !important;
}
footer .social a:hover{
  transform: translateY(-8px);
}
.back-to-top{
  background-color: var(--base-color);
  color: var(--text-color-light);

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}
.back-to-top.show{
  visibility: visible;
  opacity: 1;

  transform: translateY(0%);
}
